.comment__btn__hidden {
    display: none;
}
.commnet__btn__show {
    display: block;
}
.comment__form__hidden {
    display: none;
}
.commnet__form__show {
    display: block;
}
.comment__form__border {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: relative;
}
.commnet__form__close__btn {
    position: absolute;
    top: -2px;
    left: -20px;
    color: #ced4da;
}
.commnet__form__close__btn:hover {
    cursor: pointer;
    color: #6c8c9c;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.pt10 {
    padding-top: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pl10 {
    padding-left: 10px;
}